{% extends 'base.html.twig' %}

{% block title %}Mes addresses{% endblock %}
{% block content %}
<a href="{{path('account_address_add')}}" class="btn btn-info btn-sm float-right" >Ajouter une adresse</a>
<h1>Mes addresses</h1>
C'est dans cet espace que vous allez pouvoir gerer toute vos addresses</br>
<a href="{{ path('accounte')}}">Retour</a>
<hr>
{% if app.user.addresses | length == 0%}
<p class="text-center">
Vous n'avez pas encore ajouter d'addresse dans votre compte client, pour en ajoutr une veillez <a href="path('account_address_add')">cliquer ici</a>
</p>
{% else %}
<div class="row">
    {% for addr in app.user.addresses  %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    {{ addr.name }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ addr.address}}-{{ addr.city}}-{{ addr.country}}</h5>
                   <p class="card-text">{{ addr.postal}}</p>
                    <p class="card-text">{{ addr.phone}}</p>
                    
                    <a href="{{path('account_address_update', {'id' : addr.id})}}" class="btn btn-primary btn-sm">Modifier</a> <a href="{{path('account_address_delete', {'id' : addr.id})}}" class="btn btn-danger btn-sm">Supprimer</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
